<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vscholars.stack2code.aicte_phaseone">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".BaseClassAllLists"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".SplashScreen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".CourseAndFacultyDetails"></activity>
        <activity android:name=".SignInSignUp"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityPopUp"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>